<ion-content>
  <header class="main-header">
    <img src="/assets/images/logo.png" />
    <h1>
      The LOM's <br />
      <span class="challenge">Challenge</span>
    </h1>
  </header>
  <main class="main-content">
    <div class="intro">
      <p>
        Many years ago, the world became dominated by machines after the most
        ferocious war humanity had ever seen.
      </p>

      <p>
        Right now, you are one of the few humans who stays alive, and the leader
        of the machines (a.k.a. LOM) brings you the opportunity to travel back
        in time to the moment when everything changed.
      </p>

      <p>It is up to you to please LOM to earn another chance for humanity.</p>

      <p class="highlight">Do you dare?</p>

      <button class="start-button" (click)="openChallenge()">
        Yes, I accept it!
      </button>
    </div>
  </main>
</ion-content>
